{
  "consul": {% raw %}"{{ if .CONSUL_AGENT }}localhost{{ else }}{{ if .CONSUL }}{{ .CONSUL }}{{ else }}consul{{ end }}{{ end }}:8500"{% endraw %},
  "preStart": {{ pre_start }},
  "preStop": ["consul", "leave"],
  "postStop": ["zabbix_sender",
    "-c", "/etc/coprocesses/zabbix/zabbix_agentd.conf",
    "--key", "container.state",
    "--value", "0"],
  "logging": {
    "level": {% raw %}"{{ .LOG_LEVEL }}"{% endraw %},
    "format": {% raw %}"{{ .LOG_FORMAT }}"{% endraw %}
  },
  "tasks": [
    {
      "name": "scheduling_status",
      "command": ["zabbix_sender",
        "-c", "/etc/coprocesses/zabbix/zabbix_agentd.conf",
        "--key", "container.state",
        "--value", "1"],
      "frequency": "10000ms",
      "timeout": "3000ms"
    }
  ],
  "coprocesses": [
    {
      "name": "zabbix_agent",
      "command": ["/usr/sbin/zabbix_agentd", "-fc", "/etc/coprocesses/zabbix/zabbix_agentd.conf"],
      "restarts": 3
    }
  ],
  "services": [
    {
      "name": "{{ project_name }}",
      "port": 8500,
      "health": {{ healthcheck }},
      "poll": 10,
      "ttl": 25,
      "tags": [
{% for tag in service_tags %}
{% if not loop.last %}
        "{{ tag }}",
{% else %}
        "{{ tag }}"
{% endif %}
{% endfor %}
      ],
      "consul": {
        "enableTagOverride": true,
        "deregisterCriticalServiceAfter": "30m"
      }
    }
  ]
}
