{
  consul: 'localhost:8500',
  logging: {
    level: {% raw %}'{{ .LOG_LEVEL }}'{% endraw %},
    format: {% raw %}'{{ .LOG_FORMAT }}'{% endraw %}
  },
  jobs: [
    {
      name: "platform-integration-setup",
      exec: "/usr/local/bin/setup.sh"
    },
{% if pre_start is defined %}
    {
      name: "pre-start",
      exec: '{{ pre_start }}',
      when: {
        source: "platform-integration-setup",
        once: "exitSuccess"
      }
    },
{% endif %}
    {
      name: '{{ project_name }}',
      exec: [
        "{{ command }}"
      ],
{% if service_port is defined %}
      port: "{{ service_port }}",
{% endif %}
      health: {
        exec: '{{ healthcheck }}',
        interval: "{{ healthcheck_interval | default(default_healthcheck_interval) }}",
        ttl: "{{ healthcheck_ttl | default(default_healthcheck_ttl) }}",
        timeout: "{{ healthcheck_timeout | default(default_healthcheck_timeout) }}",
      },
      tags: [
{% for tag in service_tags %}
{% if not loop.last %}
        "{{ tag }}",
{% else %}
        "{{ tag }}"
{% endif %}
{% endfor %}
      ],
{% if pre_start is defined %}
      when: {
        source: "pre-start",
        once: "exitSuccess"
      }
{% else %}
      when: {
        source: "platform-integration-setup",
        once: "exitSuccess"
      }
{% endif %}
    },
{% if event_management is defined %}
    {
      name: "scheduling-status-healthy",
      restarts: "unlimited",
      exec: ["zabbix_sender",
        "-c", "/etc/coprocesses/zabbix/zabbix_agentd.conf",
        "--key", "container.state",
        "--value", "1"],
      when: {
        interval: "10s",
      }
    },
    {
      name: 'zabbix-agent',
      exec: ["/usr/sbin/zabbix_agentd", "-fc", "/etc/coprocesses/zabbix/zabbix_agentd.conf"],
      restarts: "unlimited",
      health: {
        exec: 'zabbix_agentd -t agent.ping',
        interval: 30,
        ttl: 60,
        timeout: 5
      },
{% if pre_start is defined %}
      when: {
        source: "pre-start",
        once: "exitSuccess"
      }
{% else %}
      when: {
        source: "platform-integration-setup",
        once: "exitSuccess"
      }
{% endif %}
    },
    {
      name: "post-stop",
      exec: ["zabbix_sender",
             "-c", "/etc/coprocesses/zabbix/zabbix_agentd.conf",
             "--key", "container.state",
             "--value", "0"],
      when: {
        once: "shutdown"
      }
    },
{% endif %}
    {
      name: "consul-agent",
      restarts: "unlimited",
{% if svc_discovery is defined %}
      exec: [
        "/usr/local/bin/consul", "agent",
        "-config-dir=/config",
        "-data-dir=/tmp",
        "-rejoin",
        "-retry-join", "{% raw %}{{ .SVC_DISCOVERY }}{% endraw %}",
        "-retry-max", "10",
        "-retry-interval", "10s"
      ],
{% else %}
      exec: [
        "/usr/local/bin/consul", "agent",
        "-server",
        "-dev",
        "-join", "localhost"
      ],
{% endif %}
/*      health: {
        exec: "consul join {% raw %}{{ .SVC_DISCOVERY }}{% endraw %}",
        interval: 5,
        ttl: 10
      },
*/
{% if pre_start is defined %}
      when: {
        source: "pre-start",
        once: "exitSuccess"
      }
{% else %}
      when: {
        source: "platform-integration-setup",
        once: "exitSuccess"
      }
{% endif %}
    }
  ]
}
